* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

h1 {
  background-color: bisque;
  color: blue;
  text-align: center;
  padding: 75px;
  width: 900px;
  margin: auto;
  font-style: oblique;
}

h2 {
  background-color: bisque;
  text-align: center;
  padding: 30px;
  width: 900px;
  margin: auto;
  font-style: oblique;
}
